.additional-goods__container {
  display: flex;
  flex-wrap: wrap;
}

.additional-goods__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    top: calc(50% - 3px / 2);
    width: 53px;
    height: 3px;
    right: -75px;
    margin-top: 4px;
    background-color: $color-green;
  }
}

.additional-goods__list {
  list-style: none;
  padding: 0;
  margin-bottom: 60px;
}

.additional-goods__item {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    background-color: $color-grey-3;
    top: 15px;
    left: -20px;
    right: -20px;
  }

  &:last-child:after {
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    background-color: $color-grey-3;
    top: 145px;
    left: -20px;
    right: -20px;
  }
}

.additional-goods__blog {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.additional-goods__table {
  flex: 0 0 100%;
  margin-bottom: 15px;

  td:last-child {
    text-align: right;
  }
}

.additional-goods__discription {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 6px;
  margin-top: 30px;
}

.additional-goods__cost {
  font-family: $font;
  font-size: 14px;
  line-height: 14px;
}

.additional-goods__image {
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-color: $color-green;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  min-height: 290px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 10px;
  text-align: center;
  margin-bottom: 35px;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .additional-goods__image {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }
}

.additional-goods__icon {
  fill: $color-white;
}

.additional-goods__text {
  font-family: $font;
  font-size: 16px;
  line-height: 20px;
  color: $color-white;
  max-width: 165px;
}

@media (min-width: $tablet-width) {
  .additional-goods__title {
    font-size: 36px;
    line-height: 36px;
    margin-left: 35px;

    &::before {
      content: "";
      position: absolute;
      display: block;
      top: calc(50% - 3px / 2);
      width: 28px;
      height: 3px;
      left: -65px;
      margin-top: 4px;
      background-color: $color-green;
    }

    &::after {
      width: 327px;
      left: 375px;
    }
  }

  .additional-goods__list {
    width: 100%;

    li:last-child {
      border-bottom: 1px solid $color-grey-hr;
    }
  }

  .additional-goods__item {
    padding: 26px 35px;
    border: 1px solid $color-grey-hr;
    border-bottom: 0;
    margin-bottom: 0;
  }

  .additional-goods__blog {
    width: 100%;
    align-items: center;
  }

  .additional-goods__table {
    flex-basis: 50%;
    margin-top: 22px;

    td:first-child {
      text-align: right;
      width: 70%;
    }
  }

  .additional-goods__discription {
    font-size: 20px;
    line-height: 20px;
    display: flex;
    flex: 0 0 50%;
    margin-bottom: 25px;
  }

  .additional-goods__cost {
    font-size: 16px;
    line-height: 20px;
  }

  .additional-goods__image {
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    min-height: 200px;
    flex-direction: row;
    justify-content: space-around;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .additional-goods__image {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  .additional-goods__text {
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .additional-goods {
    padding-bottom: 75px;
  }

  .additional-goods__title {
    flex-grow: 1;
  }

  .additional-goods__list {
    margin-bottom: 0;
    margin-top: 0;
    width: 75%;
  }

  .additional-goods__item {
    flex-wrap: nowrap;
    padding: 7px 0;
    align-items: center;
  }

  .additional-goods__table td:first-child {
    text-align: left;
  }

  .additional-goods__table td:last-child {
    text-align: left;
  }

  .additional-goods__image {
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-color: $color-white;
    flex: 0 0 245px;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-size: cover;
    margin-left: auto;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .additional-goods__image {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }

  .additional-goods__text {
    text-align: left;
  }
}
