.additional-goods__container {
  display: flex;
  flex-wrap: wrap;
}

.additional-goods__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  position: relative;
  margin-top: 30px;
  margin-bottom: 7px;

  &::after {
    content: "";
    position: absolute;
    display: block;
    top: calc(50% - 3px / 2);
    width: 53px;
    height: 3px;
    right: -75px;
    margin-top: 4px;
    background-color: $color-green;
  }
}

.additional-goods__list {
  list-style: none;
  padding: 0;
  margin-bottom: 50px;
  width: 100%;
}

.additional-goods__item {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  margin-bottom: 5px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    background-color: $color-grey-9;
    top: 11px;
    left: 0;
    right: 0;
  }

  &:last-child::after {
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    background-color: $color-grey-9;
    top: 141px;
    left: 0;
    right: 0;
  }
}

.additional-goods__blog {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.additional-goods__table {
  flex: 0 0 100%;
  margin-bottom: 15px;
  border-spacing: 0;

  td:first-child {
    text-align: left;
    padding: 0;
  }

  td:last-child {
    text-align: right;
  }
}

.additional-goods__discription {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 14px;
  margin-top: 25px;
}

.additional-goods__cost {
  font-family: $font;
  font-size: 14px;
  line-height: 14px;
  padding: 0;
}

.additional-goods__image {
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-color: $color-green;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  min-height: 290px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 28px 10px;
  text-align: center;
  margin-bottom: 35px;
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .additional-goods__image {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }
}

.additional-goods__icon {
  fill: $color-white;
  margin-top: 35px;
}

.additional-goods__text {
  font-family: $font;
  font-size: 16px;
  line-height: 20px;
  color: $color-white;
  max-width: 165px;
}

@media (min-width: $tablet-width) {
  .additional-goods__title {
    font-size: 36px;
    line-height: 36px;
    margin-left: 35px;
    margin-top: 38px;
    margin-bottom: 64px;

    &::before {
      content: "";
      position: absolute;
      display: block;
      top: 19px;
      width: 28px;
      height: 3px;
      left: -65px;
      margin-top: 4px;
      background-color: $color-green;
    }

    &::after {
      width: 327px;
      left: 375px;
      top: 19px;
    }
  }

  .additional-goods__list {
    margin-bottom: 72px;
  }

  .additional-goods__item {
    padding: 1px 36px 26px 36px;
    border-bottom: 0;
    margin-bottom: 0;
    border: 1px solid $color-grey-8;
    border-collapse: collapse;

    &::before {
      display: none;
    }

    &:last-child::after {
      display: none;
    }
  }

  .additional-goods__blog {
    width: 100%;
    align-items: center;
  }

  .additional-goods__table {
    flex-basis: 50%;
    margin-top: 22px;

    td:first-child {
      text-align: right;
      width: 70%;
    }
  }

  .additional-goods__discription {
    font-size: 20px;
    line-height: 20px;
    display: flex;
    flex: 0 0 50%;
    margin-bottom: 25px;
  }

  .additional-goods__cost {
    font-size: 16px;
    line-height: 20px;
  }

  .additional-goods__image {
    background-image: url("../img/gift-photo-tablet@1x.jpg");
    min-height: 200px;
    flex-direction: row;
    padding: 50px 120px;
    margin-bottom: 77px;
  }

  .additional-goods__icon {
    margin-top: -7px;
    margin-left: -29px;
  }


  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .additional-goods__image {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }
  }

  .additional-goods__text {
    text-align: left;
    margin-left: 0;
  }
}

@media (min-width: $desktop-width) {
  .additional-goods {
    padding-bottom: 84px;
  }

  .additional-goods__title {
    flex-grow: 1;
    margin-left: 0;
    margin-top: 45px;
    margin-bottom: 80px;

    &::before {
      width: 70px;
      left: -110px;
    }

    &::after {
      width: 957px;
    }
  }

  .additional-goods__list {
    margin-bottom: 0;
    margin-top: 0;
    width: 75%;
  }

  .additional-goods__item {
    flex-wrap: nowrap;
    padding: 15px 20px 16px 0;
    align-items: center;
    border: none;

    &::before {
      display: block;
      left: 0;
      right: 20px;
      top: -1px;
    }

    &:last-child::after {
      display: block;
      top: 72px;
      left: 0;
      right: 20px;
    }
  }

  .additional-goods__discription {
    margin: 11px 0 8px 0;
  }

  .additional-goods__table {
    margin: 11px 0 8px 0;
    width: 50%;

    td {
      &:first-child {
        text-align: left;
        padding: 2px 0 0 0;
      }

      &:last-child {
        text-align: left;
        padding: 2px 0 0 18px;
      }
    }
  }

  .additional-goods__image {
    background-image: url("../img/gift-photo-desktop@1x.jpg");
    background-color: $color-white;
    flex: 0 0 245px;
    flex-direction: column;
    padding: 0;
    margin: 0;
    background-size: cover;
    margin-left: auto;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .additional-goods__image {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }
  }

  .additional-goods__icon {
    margin-top: 65px;
    margin-left: 0;
  }

  .additional-goods__text {
    text-align: center;
    margin-bottom: 44px;
    margin-left: 0;
  }
}
