.additional-goods__title {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
}

.additional-goods__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item__title {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}

.item__discription {
  font-family: $font;
  font-size: 14px;
  line-height: 14px;
}

.additional-goods__image {
  background: url("../img/gift-photo-mobile@1x.jpg") no-repeat;
}

.additional-goods__text {
  font-family: $font;
  font-size: 16px;
  line-height: 20px;
  color: $color-white;
}
