.button {
  color: $color-white;
  font-size: 14px;
  line-height: 18px;
  background: $color-green;
  width: 100%;
  padding: 10px 15px;
  text-transform: uppercase;
  border: none;
  text-align: center;
  cursor: pointer;
}

.button--promo {
  display: block;
}

.button--light {
  color: $color-darkgray;
  background: $color-grey;
  font-size: 16px;
  line-height: 20px;
  font-family: $font-main;
}

.button--slider {
  font-size: 16px;
  line-height: 20px;
  color: $color-black;
  background: transparent;
  cursor: pointer;
  border: none;
  font-family: $font-main;
}

.button--catalog {
  font-size: 16px;
  line-height: 20px;
  display: block;
}

@media (min-width: $tablet-width) {
  .button--slider {
    font-size: 20px;
  }

  .button--promo {
    width: 246px;
  }
}
