.button {
  color: $color-white;
  font-size: 14px;
  line-height: 18px;
  background: $color-green;
  width: 100%;
  padding: 10px 15px;
  text-transform: uppercase;
  border: none;
  text-align: center;
  cursor: pointer;
}

.button--light {
  color: $color-darkgray;
  background: $color-grey;
  text-transform: uppercase;
}

.button--slider {
  font-size: 16px;
  line-height: 20px;
  color: $color-black;
}
