.button {
  color: $color-white;
  font-size: 14px;
  line-height: 18px;
  background: $color-green;
  width: 100%;
  padding: 10px 15px;
  text-transform: uppercase;
  border: none;
  text-align: center;
  cursor: pointer;
  font-family: $font-main;

  &:hover {
    background: $color-green-2;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.button--promo {
  display: block;
}

.button--light {
  color: $color-grey-11;
  background: $color-grey;
  font-size: 16px;
  line-height: 20px;
  font-family: $font-main;
  display: block;

  &:hover {
    background: $color-grey-4;
  }

  &:active {
    color: rgba(17, 17, 17, 0.3);
  }
}

.button__slider {
  font-size: 16px;
  line-height: 20px;
  color: $color-black;
  background: transparent;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  font-family: $font-main;
}

.button--catalog {
  font-size: 16px;
  line-height: 20px;
  display: block;
}

.button--form {
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .button__slider {
    font-size: 20px;
    margin: 0;
    padding: 0;

    span {
      border-bottom: 1px dotted $color-grey-2;
      margin: 0 2px 0 2px;
    }
  }

  .button--promo {
    width: 246px;
    font-size: 20px;
    line-height: 20px;
    padding: 15px 0;
    height: 52px;
  }

  .button--form {
    font-size: 20px;
    line-height: 20px;
    max-width: 283px;
    height: 52px;
  }
}

@media (min-width: $desktop-width) {
  .button--catalog {
    flex-shrink: 0;
    max-width: 245px;
  }

  .button--form {
    max-width: 570px;
  }

  .button__slider {
    span {
      &:hover {
        border-bottom: 1px solid $color-grey-5;
        background: none;
      }

      &:active {
        border-bottom: none;
      }
    }
  }
}
