.button {
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  background: #68b738;
  width: 100%;
  padding: 10px 15px;
  text-transform: uppercase;
  border: none;
  text-align: center;
  cursor: pointer;
}
.button--light {
  color: #444444;
  background: #f2f2f2;
  text-transform: uppercase;
}
