.button {
  color: $color-white;
  font-size: 14px;
  line-height: 18px;
  background: $color-green;
  width: 100%;
  padding: 10px 15px;
  text-transform: uppercase;
  border: none;
  text-align: center;
  cursor: pointer;
  font-family: $font-main;

  &:hover {
    background: $color-green-light;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

.button--promo {
  display: block;
}

.button--light {
  color: $color-darkgray;
  background: $color-grey;
  font-size: 16px;
  line-height: 20px;
  font-family: $font-main;

  &:hover {
    background: $color-grey-4;
  }

  &:active {
    color: rgba(17, 17, 17, 0.3);
  }
}

.button__slider {
  font-size: 16px;
  line-height: 20px;
  color: $color-black;
  background: transparent;
  text-transform: uppercase;
  cursor: pointer;
  border: none;
  font-family: $font-main;

  span {
    border-bottom: 1px dashed $color-grey-2;

    &:hover {
      border-bottom: 1px solid $color-grey-5;
      background: none;
    }

    &:active {
      border-bottom: none;
    }
  }
}

.button--catalog {
  font-size: 16px;
  line-height: 20px;
  display: block;
}

.button--form {
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .button__slider {
    font-size: 20px;
  }

  .button--promo {
    width: 246px;
    font-size: 20px;
    line-height: 20px;
  }

  .button--form {
    font-size: 20px;
    line-height: 20px;
    max-width: 283px;
  }
}
