.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (min-width: $tablet-width) {
  .container {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    width: 1300px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
