.example {
  background: $color-grey;
  min-height: 705px;
}

.example__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  padding-top: 16px;
  margin-bottom: 23px;
}

.example__info {
  font-family: $font;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 3px;
  color: $color-grey-11;
}

.example__result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.example__box {
  width: 125px;
  position: relative;
}

.example__count {
  font-size: 24px;
  line-height: 24px;
  max-width: 124px;
  padding: 11px 12px 12px 12px;
  text-align: center;
  border: 1px solid $color-grey-9;
  border-radius: 5px;
  text-transform: uppercase;
  height: 55px;
}

.example__text {
  font-family: $font;
  font-size: 12px;
  line-height: 12px;
  background-color: $color-grey;
  width: 80px;
  position: absolute;
  top: 58px;
  left: 22px;
  display: block;
  text-align: center;
  color: $color-grey-11;
}

.example__cost {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 0 0 100%;
  text-transform: uppercase;
  margin-top: 10px;

  span {
    margin-left: 2px;
  }
}

.example__image {
  margin-top: 20px;
}

.example__slider {
  height: 270px;
  position: relative;
  width: 100%;
}

.example__element {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.example__element--before {
  width: 100%;

  img {
    left: 0;
    top: 0;
  }
}

.example__element--after {
  display: none;
  left: auto;
}

.example__element img {
  position: absolute;
  max-width: none;
  top: 0;
  bottom: 0;
  left: -20px;
  height: auto;
}

.example__range {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 0 16px;
  max-width: 210px;
  margin: 0 auto;
}

.example__progress {
  position: relative;
  width: 100%;
  height: 14px;
  max-width: 84px;
  border: 1px solid $color-grey-10;
  border-radius: 50px;
  background: $color-white;
}

.example__bar {
  position: absolute;
  left: 5px;
  top: 50%;
  right: 5px;
  width: 35px;
  height: 6px;
  border-radius: 50px;
  background: $color-green;
  transform: translateY(-50%);
  border: 0;
}

@media (min-width: $tablet-width) {
  .example {
    background-color: $color-white;
  }

  .example__container {
    display: flex;
    flex-wrap: wrap;
  }

  .example__title {
    font-size: 60px;
    margin: 10px 0 60px 0;
    padding: 0;
  }

  .example__result {
    align-items: center;
    margin-top: 23px;
  }

  .example__info {
    font-size: 16px;
    line-height: 24px;
    max-width: 680px;
    margin-top: 65px;

    br {
      display: none;
    }
  }

  .example__box {
    width: 162px;
    margin-right: 1px;
  }

  .example__text {
    font-size: 14px;
    line-height: 14px;
    width: 133px;
    top: 78px;
    left: 13px;
    background-color: $color-white;
  }

  .example__count {
    font-size: 30px;
    line-height: 37px;
    padding: 14px 10px 20px;
    max-width: 162px;
    height: 71px;
  }

  .example__cost {
    font-size: 20px;
    line-height: 20px;
    text-align: right;
    flex-basis: 31%;
    margin-left: 80px;
    padding-left: 35px;
    padding-top: 9px;
    justify-content: flex-end;

    span {
      margin-left: 0;
      margin-top: 10px;
    }
  }

  .example__image {
    height: 624px;
    width: 100%;
    margin-top: 65px;
  }

  .example__slider {
    height: 517px;
    position: relative;
    z-index: 1;

    &::before,
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 90%;
      top: 158px;
      z-index: -1;
    }

    &::before {
      background-color: $color-grey;
      left: -50%;
    }

    &::after {
      background-color: $color-grey-6;
      right: -50%;
    }
  }

  .example__element {
    position: absolute;
    left: 16px;
    top: -10px;
    bottom: 0;
    overflow: hidden;
  }

  .example__element--before {
    width: 48%;

    img {
      left: -40px;
    }
  }

  .example__element--after {
    width: 50%;
    left: auto;
    right: 0;
    display: block;

    img {
      right: 2px;
    }
  }

  .example__element img {
    position: absolute;
    max-width: none;
    top: 0;
    bottom: 0;
    height: auto;
    left: auto;
  }

  .example__range {
    max-width: 575px;
    padding: 10px 0 70px;
    position: relative;
    z-index: 1;
  }

  .example__progress {
    max-width: inherit;
    height: 6px;
    margin: 0 23px;
    background: $color-grey-10;
  }

  .example__bar {
    position: absolute;
    top: 50%;
    left: 50.5%;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid $color-grey-3;
    background: $color-white;
    cursor: pointer;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.15);

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: calc(50% - 8px / 2);
      left: calc(50% - 8px / 2);
      width: 8px;
      height: 8px;
      margin: auto;
      border-radius: 50%;
      background-color: $color-green;
    }
  }
}

@media (min-width: $desktop-width) {
  .example {
    min-height: 641px;
  }


  .example__description {
    display: flex;
    flex: 0 0 40%;
    max-width: 40%;
    flex-wrap: wrap;
  }

  .example__title {
    margin-top: 44px;
  }

  .example__info {
    width: 435px;
    margin-top: 80px;

    br {
      display: none;
    }
  }

  .example__result {
    justify-content: space-between;
    margin-bottom: 22px;
  }

  .example__box {
    &:nth-of-type(2) {
      margin-right: 122px;
    }
  }

  .example__cost {
    flex-basis: 100%;
    justify-content: flex-start;
    margin-left: 0;
    max-width: 100%;
    margin-left: 0;
    padding-left: 0;
    padding-top: 15px;
    padding-bottom: 13px;

    span {
      display: block;
      margin-left: 63px;
      margin-top: 0;
    }
  }

  .example__image {
    display: flex;
    flex: 0 0 60%;
    max-width: 60%;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 0;
  }

  .example__slider {
    &::before,
    &::after {
      width: 100%;
      height: 90%;
      top: 158px;
      z-index: -1;
    }

    &::before {
      background-color: $color-grey;
      left: -50%;
    }

    &::after {
      background-color: transparent;
      right: -50%;
    }
  }

  .example__element {
    position: absolute;
    left: 81px;
    top: -10px;
    bottom: 0;
    overflow: hidden;
  }

  .example__element--before {
    width: 50%;
  }

  .example__element--after {
    width: 39%;
    left: auto;

    img {
      right: -39px;
    }
  }

  .example__range {
    width: 100%;
    margin-left: 160px;
    padding: 30px 0 0;
  }

  .example__progress {
    &::after {
      left: 4px;
      top: 7px;
    }
  }

  .example__bar {
    &:hover {
      box-shadow: 0 2px 3px 1px rgba(0, 0, 0, 0.25);
    }

    &:active {
      border: 2px solid $color-green;
    }
  }
}
