.example {
  background: $color-grey;
}

.example__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  padding-top: 28px;
}

.example__info {
  font-family: $font;
  font-size: 14px;
  line-height: 18px;
}

.example__result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.example__box {
  width: 125px;
  position: relative;
}

.example__count {
  font-size: 24px;
  line-height: 24px;
  max-width: 124px;
  padding: 15px 10px 12px;
  text-align: center;
  border: 1px solid $color-grey-hr;
  border-radius: 5px;
  text-transform: uppercase;
}

.example__text {
  font-family: $font;
  font-size: 12px;
  line-height: 12px;
  background: $color-grey;
  width: 80px;
  position: absolute;
  top: 52px;
  left: 32px;
  display: block;
  text-align: center;
  margin: 22px 0px 0px -10px;
}

.example__cost {
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex: 0 0 100%;
}

.example__slider {
  height: 270px;
  position: relative;
  width: 610px;
}

.example__element {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.example__element--before {
  width: 100%;

  img {
    left: 0;
    top: 0;
  }
}

.example__element img {
  position: absolute;
  max-width: none;
  top: 0;
  bottom: 0;
  left: -15px;
  height: auto;
}

.example__range {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 35px;
}

.example__progress {
    position: relative;
    width: 100%;
    height: 14px;
    border: 1px solid $color-grey-hr;
    border-radius: 50px;
    background: $color-white;

    &::after {
      content: "";
      position: absolute;
      left: 5px;
      top: 50%;
      right: 5px;
      width: 35px;
      height: 6px;
      border-radius: 50px;
      background: $color-green;
      transform: translateY(-50%);
    }
}

@media (min-width: $tablet-width) {
  .example__container {
    display: flex;
    flex-wrap: wrap;
  }

  .example__title {
    font-size: 60px;
  }

  .example__result {
    align-items: center;
    justify-content: space-between;
  }

  .example__info {
    font-size: 16px;
    line-height: 24px;
    max-width: 680px;

    br {
      display: none;
    }
  }

  .example__box {
    width: 162px;
    margin-right: 41px;
  }

  .example__text {
    font-size: 14px;
    line-height: 14px;
    width: 133px;
    top: 80px;
    left: 26px;
  }

  .example__count {
    font-size: 30px;
    line-height: 37px;
    padding: 23px 10px 20px;
    max-width: 162px;
  }

  .example__cost {
    font-size: 20px;
    line-height: 20px;
    max-width: 170px;
    text-align: right;
    flex-basis: 42%;
    margin-left: 130px;
  }

  .example__image {
    height: 640px;
    width: 100%;
  }

  .example__slider {
    height: 517px;
    position: relative;
    width: 486px;
  }

  .example__element {
    position: absolute;
    left: 40px;
    top: 0;
    bottom: 0;
    overflow: hidden;
  }

  .example__element--before {
    width: 64%;

    img {
      left: -40px;
    }
  }

  .example__element--after {
    width: 50%;
    left: auto;
    right: 0;

    img {
      right: -40px;
    }
  }

  .example__element img {
    position: absolute;
    max-width: none;
    top: 0;
    bottom: 0;
    height: auto;
  }

  .example__range {
    width: 100%;
    padding: 10px 0 70px;
  }

  .example__progress {
    max-width: inherit;
    height: 6px;
    margin: 0 25px;
    background: $color-grey-hr;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 5px;
      bottom: 0;
      right: 0;
      left: 1px;
      width: 8px;
      height: 8px;
      margin: auto;
      border-radius: 50%;
      background-color: $color-green;
    }
  }

  .example__bar {
    position: absolute;
    top: 50%;
    left: 50.5%;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid $color-grey-3;
    background: $color-white;
    cursor: pointer;
    transform: translate(-50%, -50%);
  }
}

@media (min-width: $desktop-width) {
  .example__description {
    display: flex;
    flex: 0 0 40%;
    max-width: 40%;
    flex-wrap: wrap;
  }

  .example__title {
    margin-top: -120px;
  }

  .example__info {
    width: 435px;

    br {
      display: none;
    }
  }

  .example__result {
    justify-content: space-between;
  }

  .example__box {

    &:nth-of-type(2) {
      margin-right: 120px;
    }
  }

  .example__cost {
    flex-basis: 100%;
    justify-content: flex-start;
    margin-left: 0;
    max-width: 100%;
  }



  .example__image {
    display: flex;
    flex: 0 0 60%;
    max-width: 60%;
    flex-wrap: wrap;
  }

  .example__progress {
    &::after {
      left: 4px;
    }
  }
}

