.goods__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.goods__discription {
  font-size: 12px;
  line-height: 16px;
  font-family: "Arial", "Tahoma", sans-serif;
}

.goods__title {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}
