.goods-more {
  margin-top: 77px;
  text-align: center;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -37%;
    left: 44%;
    width: 30px;
    height: 2px;
    background-color: $color-grey-7;
  }

  &::before {
    transform: rotate(90deg);
  }

  &::after {
    transform: rotate(0deg);
  }
}

.goods-more__text--big {
  font-size: 16px;
  font-weight: 400;
  color: $color-black;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.goods-more__text {
  font-size: 12px;
  line-height: 16px;
  font-family: $font;
}

@media (min-width: $tablet-width) {
  .goods-more {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 0;
    border: 1px solid $color-lightgray;
    background-color: $color-white;

    &::before,
    &::after {
      top: 32%;
      left: 39%;
      width: 60px;
    }
  }

  .goods-more__text--big {
    font-size: 20px;
    max-width: 140px;
    margin: 0 auto 10px;
  }

  .goods-more__text {
    font-size: 16px;
  }
}
