.goods__container {
  display: flex;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-right: -20px;
}

.goods__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.goods__item {
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.goods__product {
  display: flex;
}

.goods__discription {
  font-size: 12px;
  line-height: 16px;
  font-family: $font;
}

.goods__title {
  font-size: 16px;
  line-height: 20px;
  color: #111111;
}

.goods__options {
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: $tablet-width) {
  .goods__container {
    margin-left: -30px;
    margin-right: -30px;
  }

  .goods__item {
    max-width: 50%;
    padding-left: 30px;
    padding-right: 30px;
  }

  .goods__product {
    flex-direction: column;
    background: $color-grey;
  }
}

@media (min-width: $desktop-width) {
  .goods__container {
    margin-left: -40px;
    margin-right: -40px;
  }

  .goods__item {
    max-width: 25%;
    padding-left: 40px;
    padding-right: 40px;
  }
}
