.goods__container {
  display: flex;
  flex-wrap: wrap;
}

.goods__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.goods__item {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 100%;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    background-color: $color-grey-3;
    top: 0;
    left: -20px;
    right: -20px;
  }
}

.goods__blog {
  width: 100%;
  margin-bottom: 25px;
}

.goods__product {
  display: flex;
}

.goods__discription {
  width: 50%;
}

.goods__title {
  font-size: 16px;
  line-height: 20px;
  color: $color-black;
  font-weight: 400;
  text-transform: uppercase;
  max-width: 100px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.goods__options {
  font-family: $font;
  font-size: 12px;
  line-height: 16px;
  width: 100%;
  border-collapse: collapse;

  td:last-child {
    text-align: right;
  }
}

@media (min-width: $tablet-width) {
  .goods__item {
    max-width: 50%;
    flex: 0 0 50%;
    margin-top: 110px;
    margin-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    min-height: 430px;

    &::before {
      display: none;
    }
  }
  .goods__blog {
    display: flex;
    flex-direction: column;
    background-color: $color-grey;
    padding: 40px;
  }

  .goods__product {
    flex-direction: column;
    flex-grow: 1;
  }

  .goods__image {
    display: flex;
    justify-content: center;
    margin-top: -120px;
    min-height: 215px;
    align-items: flex-end;
  }

  .goods__image img {
    max-width: none;
  }

  .goods__discription {
    width: 100%;
  }

  .goods__title {
    font-size: 20px;
    text-align: center;
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
  }

  .goods__options {
    font-size: 16px;
    padding: 8px 0;

    tr {
      border-bottom: 1px solid $color-border-catalog;
    }
  }
}

@media (min-width: $desktop-width) {
  .goods__item {
    max-width: 245px;
    padding: 0;
    flex: 0 0 245px;

    &:not(:nth-child(4n)) {
      margin-right: 80px;
    }
  }
}
