.goods-more {
  margin-top: 77px;
  text-align: center;
  position: relative;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: -29%;
    left: 44%;
    width: 30px;
    height: 2px;
    background-color: $color-grey-8;
  }

  &::before {
    transform: rotate(90deg);
  }

  &::after {
    transform: rotate(0deg);
  }
}

.goods-more__text--big {
  font-size: 16px;
  font-weight: 400;
  color: $color-black;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 7px;
  margin-top: 7px;
}

.goods-more__text {
  font-size: 12px;
  line-height: 16px;
  font-family: $font;
  margin-top: 2px;
  margin-bottom: 23px;
}

@media (min-width: $tablet-width) {
  .goods-more {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: 0;
    margin-bottom: 15px;
    border: 1px solid $color-grey-8;
    background-color: $color-white;

    &::before,
    &::after {
      top: 19%;
      left: 41%;
      width: 60px;
    }
  }

  .goods-more__text--big {
    font-size: 20px;
    max-width: 140px;
    margin: 0 auto 23px;
  }

  .goods-more__text {
    font-size: 16px;
    margin-bottom: 82px;
    max-width: 180px;
    margin-left: 32px;
    line-height: 20px;
    margin-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .goods-more {
    border: 1px solid $color-grey-13;
    padding: 40px 35px 40px 35px;

    &::before,
    &::after {
      left: 38%;
    }
  }

  .goods-more__text {
    margin-bottom: 84px;
    margin-left: 0;
  }
}
