.goods-more {
  margin-top: 77px;
  text-align: center;
}

.goods-more__text--big {
  font-size: 16px;
  font-weight: 400;
  color: $color-black;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.goods-more__text {
  font-size: 12px;
  line-height: 16px;
  font-family: $font;
}

@media (min-width: $tablet-width) {
  .goods-more__text--big {
    font-size: 20px;
  }

  .goods-more__text {
    font-size: 16px;
  }
}
