.main-form__row {
  display: flex;
  flex-wrap: wrap;
}

.main-form__column {
  display: flex;
  flex: 0 0 100%;
  max-width: 100%;
  flex-wrap: wrap;
}

.main-form__fieldset {
  border: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.main-form__column--information {
  margin-bottom: 31px;
}

.main-form__group {
  display: flex;
  flex-grow: 1;
  margin: 24px 0 -10px 0;
}

.main-form__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-right: 14px;
  color: $color-black-2;
}

.main-form__input {
  border: 1px solid $color-grey-8;
  padding: 13px 15px;
  text-transform: uppercase;
  color: $color-grey-11;
  font-size: 16px;
  line-height: 18px;
  flex-grow: 1;
  width: 100%;
  font-family: $font-main;

  &:active,
  &:focus {
    outline: 2px solid $color-grey-11;
  }

  &:hover {
    box-shadow: 0 0 1px $color-grey-9;
  }

  &:focus:invalid {
    outline: 2px solid $color-pink;
  }

  &:-ms-input-placeholder {
    background-color: #ffffff;
  }
}

.main-form__column--program {
  flex-direction: column;
  position: relative;
  margin-bottom: 36px;

  &::before {
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    background-color: $color-grey-3;
    top: 0;
    left: -20px;
    right: -20px;
  }

  &::after {
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    background-color: $color-grey-3;
    bottom: -33px;
    left: -20px;
    right: -20px;
  }
}

.main-form__custom-radio {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  position: relative;
  padding-left: 45px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: $color-black-2;

  &:active {
    opacity: 0.3;
  }
}

.main-form__radio:checked + .main-form__custom-radio::before {
  content: "";
  position: absolute;
  display: block;
  left: 9px;
  top: 9px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: none;
  background: $color-green;
  margin-top: 0;
}

.main-form__radio + .main-form__custom-radio::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $color-grey-15;
  border-radius: 50%;
}

.main-form__radio:focus + .main-form__custom-radio::after {
  outline: 1px solid #4d90fe;
}

.main-form__radio:disabled + .main-form__custom-radio::before {
  opacity: 0.3;
}

.main-form__radio:disabled + .main-form__custom-radio::after {
  opacity: 0.3;
}

.main-form__radio:disabled + .main-form__custom-radio {
  opacity: 0.3;
}

.main-form__legend {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 10px;
  position: relative;
  background: $color-white;
  font-weight: 400;
  padding: 0;
}

.main-form__legend--contacts {
  &::after {
    content: "";
    position: absolute;
    right: -20px;
    height: 3px;
    width: 99px;
    top: 15px;
    display: block;
    background: $color-green;
  }
}

.main-form__row-contacts {
  width: 100%;
  margin-bottom: 12px;
}

.main-form__label--contacts {
  margin-right: 10px;
}

.main-form__group--icon {
  position: relative;
}

.main-form__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}

.main-form__input:active + .main-form__icon {
  fill: $color-green;
}

.main-form__input:focus:invalid + .main-form__icon {
  fill: $color-pink;
}

.main-form__column--comment {
  margin-bottom: 3px;
}

.main-form__legend--comment {
  margin-bottom: 35px;

  &::after {
    content: "";
    position: absolute;
    right: -180px;
    height: 3px;
    width: 158px;
    top: 15px;
    display: block;
    background: $color-green;
  }
}

.main-form__textarea {
  width: 100%;
  border: 1px solid $color-grey-8;
  height: 151px;
  padding: 12px 13px;
  font-family: $font-main;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
  color: $color-grey-11;

  &:active,
  &:focus {
    outline: 2px solid $color-grey-11;
  }

  &:hover {
    box-shadow: 0 0 2px $color-grey-9;
  }
}

.main-form__column--additional {
  flex-direction: column;
}

.main-form__legend--additional {
  &::after {
    content: "";
    position: absolute;
    right: -20px;
    height: 3px;
    width: 136px;
    top: 15px;
    display: block;
    background: $color-green;
  }
}

.main-form__custom-checkbox {
  position: relative;
  padding-left: 45px;
  padding-top: 6px;
  padding-bottom: 5px;
  cursor: pointer;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color-black-2;

  &:active {
    opacity: 0.3;
  }
}

.main-form__checkbox + .main-form__custom-checkbox::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 56%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border: 1px solid $color-grey-14;
}

.main-form__checkbox:checked + .main-form__custom-checkbox::after {
  content: "";
  display: block;
  position: absolute;
  left: 11px;
  top: 56%;
  margin-top: -3px;
  width: 10px;
  height: 19px;
  border-right: 1px solid $color-green;
  border-bottom: 1px solid $color-green;
  transform: translateY(-50%) rotate(45deg);
}

.main-form__checkbox:focus + .main-form__custom-checkbox::before {
  outline: 1px solid #4d90fe;
}

.main-form__checkbox:disabled + .main-form__custom-checkbox::before {
  opacity: 0.3;
}

.main-form__checkbox:disabled + .main-form__custom-checkbox::after {
  opacity: 0.3;
}

.main-form__checkbox:disabled + .main-form__custom-checkbox {
  opacity: 0.3;
}

.main-form__blog {
  margin-top: 45px;
}

.main-form__text {
  font-family: $font;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: $color-grey-11;
  margin-top: 22px;
  margin-bottom: 33px;
}

@media (min-width: $tablet-width) {
  .main-form__column--information {
    margin-left: 40px;
    margin-right: 40px;
    flex-direction: column;
    margin-bottom: 69px;
  }

  .main-form__group {
    margin: 16px -3px 4px 2px;
  }

  .main-form__label {
    font-size: 20px;
    line-height: 20px;
    margin-right: 17px;
  }

  .main-form__input {
    font-size: 20px;
    line-height: 20px;
    padding: 10px 18px;
  }

  .main-form__column--program {
    margin-left: 40px;
    margin-right: 37px;
    border: 1px solid $color-grey-8;
    padding: 8px 0 27px 25px;
    margin-bottom: 40px;

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .main-form__custom-radio {
    font-size: 20px;
    line-height: 20px;
    padding: 9px 0 4px 60px;
    flex-grow: 1;
  }

  .main-form__radio:checked + .main-form__custom-radio::before {
    left: 11px;
    top: 11px;
    width: 18px;
    height: 18px;
  }

  .main-form__radio + .main-form__custom-radio::after {
    width: 40px;
    height: 40px;
  }

  .main-form__radio + .main-form__custom-radio:hover::after {
    border: 2px solid $color-grey-16;
  }

  .main-form__column--contacts {
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
  }

  .main-form__row-contacts {
    margin-bottom: 8px;
  }

  .main-form__legend {
    font-size: 36px;
    line-height: 36px;
  }

  .main-form__legend--contacts {
    margin-bottom: 60px;

    &::before {
      content: "";
      position: absolute;
      left: -70px;
      height: 3px;
      width: 30px;
      top: 20px;
      display: block;
      background: $color-green;
    }

    &::after {
      right: -70px;
      width: 145px;
      top: 20px;
    }
  }

  .main-form__group--icon {
    margin: 15px -5px 21px 0;

    &:nth-of-type(1) {
      input {
        padding: 10px 20px;
        margin-left: 5px;
      }
    }
  }

  .main-form__label--contacts {
    margin-bottom: 0;
    margin-right: 15px;
  }

  .main-form__icon {
    right: 20px;
  }

  .main-form__column--comment {
    margin-left: 40px;
    margin-right: 37px;
    margin-bottom: 31px;
  }

  .main-form__legend--comment {
    margin-bottom: 75px;

    &::before {
      content: "";
      position: absolute;
      left: -70px;
      height: 3px;
      width: 30px;
      top: 20px;
      display: block;
      background: $color-green;
    }

    &::after {
      left: 220px;
      width: 479px;
      top: 20px;
    }
  }

  .main-form__textarea {
    height: 173px;
    padding: 8px 17px;
    font-size: 20px;
    line-height: 30px;
  }

  .main-form__column--additional {
    margin-left: 40px;
    margin-right: 50px;
    flex: 0 0 50%;
    flex-direction: row;

    p {
      max-width: 50%;
      flex: 0 0 50%;

      &:nth-of-type(2n) {
        padding-left: 35px;
      }
    }
  }

  .main-form__column__row {
    display: flex;
    flex-wrap: wrap;
  }

  .main-form__legend--additional {
    margin-bottom: 30px;

    &::before {
      content: "";
      position: absolute;
      left: -70px;
      height: 3px;
      width: 30px;
      top: 20px;
      display: block;
      background: $color-green;
    }

    &::after {
      left: 252px;
      width: 446px;
      top: 20px;
    }
  }

  .main-form__custom-checkbox {
    font-size: 20px;
    line-height: 20px;
    padding: 19px 0 14px 56px;
  }

  .main-form__checkbox + .main-form__custom-checkbox::before {
    border: 1px solid $color-grey-9;
    width: 40px;
    height: 40px;
  }

  .main-form__checkbox:checked + .main-form__custom-checkbox::after {
    left: 15px;
  }

  .main-form__checkbox + .main-form__custom-checkbox:hover::before {
    box-shadow: 0 0 2px $color-grey-17;
  }

  .main-form__blog {
    display: flex;
    margin: 45px 40px 61px 40px;
    justify-content: flex-start;
  }

  .main-form__text {
    font-size: 16px;
    padding-left: 60px;
    margin-top: 17px;
  }
}

@media (min-width: $desktop-width) {
  .main-form__row {
    flex-wrap: nowrap;
    align-items: center;
  }

  .main-form__column--information {
    margin-left: 0;
    margin-bottom: 29px;

    p {
      margin: 15px 0 5px 0;
    }
  }

  .main-form__label {
    margin-right: 19px;
  }

  .main-form__column--program {
    padding: 8px 0 27px 25px;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .main-form__column--contacts {
    margin-left: 0;
    flex: 0 0 100%;
    max-width: 100%;
    margin-right: 0;

    p {
      margin-top: 12px;

      &:first-child {
        flex: 0 0 47%;
        max-width: 47%;
      }

      &:last-child {
        padding-left: 73px;
        max-width: 53%;
        flex: 1 0 53%;
      }
    }
  }

  .main-form__legend--contacts {
    &::before {
      left: -110px;
      height: 3px;
      width: 70px;
      top: 20px;
    }

    &::after {
      right: -110px;
      width: 777px;
      top: 20px;
    }
  }

  .main-form__row-contacts {
    display: flex;
    flex-wrap: wrap;
  }

  .main-form__group--icon {
    margin: 0 0 25px 0;

    &:nth-of-type(1) {
      input {
        margin-left: 2px;
      }
    }
  }

  .main-form__icon {
    top: 52%;
    right: 21px;
  }

  .main-form__column--comment {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 34px;
  }

  .main-form__legend--comment {
    &::before {
      left: -110px;
      height: 3px;
      width: 70px;
      top: 20px;
    }

    &::after {
      left: 220px;
      width: 1112px;
      top: 20px;
    }
  }

  .main-form__column--additional {
    margin-left: 0;
    flex: 0 0 25%;
    flex-direction: column;

    p {
      max-width: 25%;
      flex: 0 0 25%;
      margin-right: 30px;

      &:nth-of-type(2n) {
        padding-left: 0;
      }
    }
  }

  .main-form__legend--additional {
    margin-bottom: 30px;

    &::before {
      left: -110px;
      height: 3px;
      width: 70px;
      top: 20px;
    }

    &::after {
      left: 251px;
      width: 1080px;
      top: 20px;
    }
  }

  .main-form__column__row {
    flex-wrap: nowrap;
    align-items: center;
  }

  .main-form__blog {
    margin: 53px 40px 69px 0;
  }

  .main-form__text {
    padding-left: 82px;
  }
}
