.main-nav {
  width: 100%;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: auto;
    margin: 0;
  }

  .site-list {
    display: flex;
    justify-content: space-between;
    width: 440px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    display: flex;
    justify-content: space-between;
    width: 480px;
    margin: 0 auto;
  }
}
