.main-form__column {
  display: flex;
  flex: 0 0 100%;
  max-width: 100%;
}

.information,
.program,
.contacts,
.comment,
.additional {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 24px;
  width: 100%;
}

.main-form__group {
  display: flex;
  flex-grow: 1;
}

.main-form__label,
.main-form__custom-checkbox {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.main-form__custom-radio {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  position: relative;
  padding-left: 45px;
  padding-top: 10px;
}

.main-form__radio:checked + .main-form__custom-radio:before {
    content: "";
    position: absolute;
    display: block;
    left: 9px;
    top: 9px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: none;
    background: $color-green;
    margin-top: 0;
}

.main-form__radio + .main-form__custom-radio:after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    border: 1px solid $color-grey-hr;
    border-radius: 50%;
}

.main-form__label {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-right: 30px;
}

.main-form__input {
  border: 1px solid $color-lightgray;
  padding: 13px 15px;
  text-transform: uppercase;
  color: $color-darkgray;
  font-size: 16px;
  line-height: 18px;
  flex-grow: 1;
  width: 100%;
  font-family: $font-main;
}

.main-form__group--icon {
  position: relative;
}

.main-form__icon {
  position: absolute;
  top: 50%;
  right: 7px;
  transform: translateY(-50%);
}

.legend__title {
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 35px;
  position: relative;
  background: $color-white;

  &::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 100vw;
    top: 15px;
    display: block;
    background: $color-green;
  }
}

.main-form__textarea {
  width: 100%;
  border: 1px solid $color-lightgray;
  height: 151px;
  padding: 14px 13px;
  font-family: $font-main;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 18px;
}

.main-form__custom-checkbox {
  position: relative;
  padding-left: 45px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}

.main-form__checkbox + .main-form__custom-checkbox:before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border: 1px solid $color-grey-hr;
}

.main-form__checkbox:checked + .main-form__custom-checkbox:after {
  content: "";
  display: block;
  position: absolute;
  left: 9px;
  top: 50%;
  margin-top: -3px;
  width: 12px;
  height: 21px;
  border-right: 1px solid $color-green;
  border-bottom: 1px solid $color-green;
  transform: translateY(-50%) rotate(45deg);
}

.main-form__text {
  font-family: $font;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .information,
  .program,
  .contacts,
  .comment,
  .additional {
    margin-left: 40px;
    margin-right: 40px;
  }

  .main-form__label,
  .main-form__custom-radio,
  .main-form__textarea,
  .main-form__custom-checkbox {
    font-size: 20px;
    line-height: 20px;
  }

  .program {
    border: 1px solid $color-lightgray;
    padding: 25px;
  }

  .main-form__custom-radio {
    padding-top: 5px;
  }

  .legend__title {
    font-size: 36px;
    line-height: 36px;
  }

  .main-form__icon {
    right: 20px;
  }

  .main-form__textarea {
    height: 173px;
    padding: 8px 17px;
    font-size: 20px;
    line-height: 30px;
  }

  .additional {
    display: flex;
    flex-wrap: wrap;

    p {
      display: flex;
      flex-wrap: wrap;
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  .main-form__blog {
    display: flex;
    margin-bottom: 75px;
    margin-right: 40px;
    margin-left: 40px;
    justify-content: flex-start;
  }

  .main-form__text {
    font-size: 16px;
    padding-left: 60px;
  }
}
