.main-title {
  font-size: 36px;
  line-height: 60px;
  color: $color-black;
  font-weight: 400;
  margin-top: 15px;
}

.main__text {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .main-title {
    font-size: 60px;
    margin-bottom: 52px;
    padding-top: 40px;
  }

  .main__text {
    font-size: 20px;
    line-height: 30px;
    margin-left: 40px;
    margin-bottom: 50px;
  }
}

@media (min-width: $desktop-width) {
  .main-title {
    padding-top: 25px;
    margin-top: 0;
  }

  .main__text {
    margin-left: 0;
  }
}
