.main-title {
  font-size: 36px;
  line-height: 60px;
  color: $color-black;
  font-weight: 400;
}

.main__text {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .main-title {
    font-size: 60px;
    margin-bottom: 55px;
    padding-top: 55px;
  }

  .main__text {
    font-size: 20px;
    line-height: 30px;
    margin-left: 40px;
  }
}
