.map {
  background-color: $color-grey;
}

.map--color {
  background-color: $color-white;
}

.map__invite {
  display: flex;
  justify-content: space-between;
  padding: 13px 0 13px 0;
}

.map__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  max-width: 160px;
  text-transform: uppercase;
}

.map__text {
  font-family: $font;
  font-size: 14px;
  line-height: 20px;
  max-width: 154px;
  color: $color-grey-11;
}

.map__adaptive {
  height: 365px;
  border: 0;
}

.map__adaptive iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

@media (min-width: $tablet-width) {
  .map__invite {
    padding: 47px 40px 40px 40px;
  }

  .map__title {
    font-size: 20px;
    line-height: 25px;
  }

  .map__text {
    font-size: 16px;
    text-align: right;
    max-width: 170px;

    span {
      display: block;
      margin-top: 18px;
    }
  }

  .map__adaptive {
    height: 395px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    position: relative;
  }

  .map__invite {
    position: absolute;
    background-color: $color-white;
    max-width: 570px;
    height: 200px;
    top: 100px;
    left: 111px;
    width: 100%;
    padding: 32px 35px;
    display: flex;
    align-items: center;
  }

  .map__title {
    max-width: 50%;
    padding: 30px 40px;
  }

  .map__text {
    max-width: 50%;
    padding: 30px 40px;
    text-align: left;

    span {
      margin-top: 20px;
    }
  }
}
