.map__invite {
  display: flex;
  justify-content: space-between;
  padding: 32px 0 30px 0;
}

.map__title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  max-width: 160px;
  text-transform: uppercase;
}

.map__text {
  font-family: $font;
  font-size: 14px;
  line-height: 20px;
  max-width: 154px;
}

.map__adaptive {
  height: 365px;
  border: 0;
}

.map__adaptive iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

@media (min-width: $tablet-width) {
  .map__invite {
    padding: 70px 40px 62px 40px;
  }

  .map__title {
    font-size: 20px;
    line-height: 25px;
  }

  .map__text {
    font-size: 16px;
    text-align: right;
  }

  .map__adaptive {
    height: 395px;
  }
}

@media (min-width: $desktop-width) {
  .map {
    position: relative;
  }

  .map__invite  {
    position: absolute;
    display: block;
    background-color: $color-white;
    width: 570px;
    height: 200px;
    top: 20%;
    bottom: 20%;
  }

  .map__title {
    width: 50%;
  }

  .map__text {
    width: 50%;
  }
}
