.page-header {
  border-bottom: 1px solid $color-grey-8;
  position: relative;
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 12px;
  padding-bottom: 0;
}

@media (min-width: $tablet-width) {
  .page-header {
    border: none;
  }

  .page-header__container {
    padding-top: 21px;
  }
}

@media (min-width: $desktop-width) {
  .site-body--index .page-header {
    &::after {
      content: "";
      position: absolute;
      background-image: url("../img/index-background-desktop@1x.jpg");
      background-color: $color-green;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 100%;
      display: block;
      width: 50%;
      height: 696px;
      top: 0;
      right: 0;
      left: inherit;
      z-index: -1;
    }

    a {
      color: $color-white;
      font-size: 20px;
      line-height: 25px;
    }
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .site-body--index .page-header {
      &::after {
        background-image: url("../img/index-background-desktop@2x.jpg");
      }
    }
  }

  .site-body--index .site-list__item {
    &--active {
      &::after {
        background: $color-white;
      }
    }
  }

  .page-header__container {
    padding-top: 53px;
    padding-bottom: 48px;
  }
}
