.page-footer {
  background: #f2f2f2;
}

.social__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.social__item {
  cursor: pointer;
}

.social__link--vkontakte {
  background: url("../img/icon-vk.svg") no-repeat;
}

.social__link--facebook {
  background: url("../img/icon-insta.svg") no-repeat;
}

.social__link--instagram {
  background: url("../img/icon-fb.svg.svg") no-repeat;
}

.page-footer__copyright {
  padding-left: 20px;
  padding-right: 20px;

  a {
    font-family: "Arial", "Tahoma", sans-serif;
    color: #444444;
    font-size: 16px;
    line-height: 16px;
  }
}
