.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 12px;
  padding-bottom: 0;
}

@media (min-width: $tablet-width) {
  .page-header__container {
    padding-top: 12px;
    padding-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .container {
    max-width: 1300px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .page-header__container {
    padding-top: 53px;
    padding-bottom: 48px;
  }
}
