.page-header {
 border-bottom: 1px solid $color-lightgray;
}

.page-header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 12px;
  padding-bottom: 0;
}

@media (min-width: $tablet-width) {
  .page-header {
    border: none;
  }

  .page-header__container {
    padding-top: 12px;
    padding-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-header--img {
    position: relative;

     &::after {
      content: "";
      position: absolute;
      background-color: $color-green;
      background: url("../img/index-background-desktop@1x.jpg") no-repeat;
      display: block;
      width: 50%;
      min-height: 696px;
      top: 0;
      right: 0;
      z-index: -1;
      }
    }

  .page-header__container {
    padding-top: 53px;
    padding-bottom: 48px;
    }
}
