.page-footer {
  background: $color-grey;
  height: 235px;
}

.page-footer__item {
  max-width: 100%;
  display: flex;
  flex: 0 0 100%;
  justify-content: center;

  &:nth-of-type(2) {
    border-top: 1px solid $color-grey-10;
    border-bottom: 1px solid $color-grey-10;
  }

  &:nth-of-type(3) {
    justify-content: flex-start;
  }
}

.page-footer__logo {
  max-width: 135px;
  padding: 35px 0 26px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.social__list {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.social__item {
  cursor: pointer;
  margin: 0 20px;
}

.social__icon {
  fill: $color-grey-12;

  &:hover {
    fill: $color-green;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-footer__copyright {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 27px 0;
  position: relative;
}

.page-footer__link {
  font-family: $font;
  color: $color-grey-11;
  font-size: 16px;
  line-height: 16px;

  &:active {
    opacity: 0.3;
  }
}

.page-footer__icon {
  position: absolute;
  top: 19px;
  right: -6px;
  fill: $color-grey-12;

  &:hover {
    fill: $color-green;
  }
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding: 30px 0;
    height: 150px;
  }

  .footer__container {
    display: flex;
    align-items: center;
  }

  .page-footer__item {
    width: 33.3333%;
    flex-direction: row;
    flex: 0 1 33.3333%;

    &:nth-of-type(1) {
      justify-content: flex-start;
    }

    &:nth-of-type(2) {
      border: none;
    }

    &:nth-of-type(3) {
      justify-content: flex-end;
    }
  }

  .social__item {
    cursor: pointer;
    margin: 0 24px;
  }

  .social__icon--vk {
    width: 31px;
    height: 19px;
  }

  .social__icon--ins {
    width: 23px;
    height: 23px;
  }

  .social__icon--fb {
    width: 14px;
    height: 28px;
  }

  .page-footer__copyright {
    width: auto;
  }

  .page-footer__link {
    margin-right: 40px;
  }
}
