.page-footer {
  background: $color-grey;
}

.page-footer__item {
  max-width: 100%;
  display: flex;
  flex: 0 0 100%;
  justify-content: center;

  &:nth-of-type(2) {
    border-top: 1px solid $color-grey-hr;
    border-bottom: 1px solid $color-grey-hr;
  }

  &:nth-of-type(3) {
    justify-content: flex-start;
  }
}

.page-footer__logo {
  max-width: 135px;
  padding: 35px 0 30px;
}

.social__list {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}

.social__item {
  cursor: pointer;
  margin: 0 20px;
}

.social__link--vkontakte {
  background: url("../img/icon-vk.svg") no-repeat;
}

.social__link--facebook {
  background: url("../img/icon-insta.svg") no-repeat;
}

.social__link--instagram {
  background: url("../img/icon-fb.svg.svg") no-repeat;
}

.page-footer__copyright {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0;
  position: relative;
}

 .page-footer__link {
  font-family: $font;
  color: $color-darkgray;
  font-size: 16px;
  line-height: 16px;
}

.page-footer__icon {
  position: absolute;
  top: 22px;
  right: -6px;
  fill: $color-blackgray;
}

@media (min-width: $tablet-width) {
  .page-footer {
    padding: 30px 0;
  }

  .footer__container {
    display: flex;
    align-items: center;
  }

  .page-footer__item {
    width: 33.3333%;
    flex-direction: row;
    flex: 0 1 33.3333%;

    &:nth-of-type(1) {
      justify-content: flex-start;
    }

    &:nth-of-type(2) {
      border: none;
    }

    &:nth-of-type(3) {
      justify-content: flex-end;
    }
  }

  .social__item {
    cursor: pointer;
    margin: 0 24px;
  }

  .page-footer__copyright {
    width: auto;
  }

  .page-footer__link {
    margin-right: 40px;
  }
}
