.plan {
  margin-bottom: 43px;
}

.plan__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  margin: 0;
}

.plan__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 23px;
}

.plan__item {
  display: flex;
  align-items: center;
  flex: 0 0 100%;
  max-width: 100%;

  &::before {
    content: " ";
    display: block;
    margin-right: 20px;
    margin-top: 21px;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    background-color: $color-green;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.plan__item--leaf {
  &::before {
    background-image: url("../img/advantage-leaf@1x.png");
  }
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .plan__item--leaf {
    &::before {
      background-image: url("../img/advantage-leaf@2x.png");
    }
  }
}

.plan__item--powder {
  &::before {
    background-image: url("../img/advantage-powder@1x.png");
  }
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .plan__item--powder {
    &::before {
      background-image: url("../img/advantage-powder@2x.png");
    }
  }
}

.plan__item--dining {
  &::before {
    background-image: url("../img/advantage-dining@1x.png");
  }
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .plan__item--dining {
    &::before {
      background-image: url("../img/advantage-dining@2x.png");
    }
  }
}

.plan__item--clock {
  &::before {
    background-image: url("../img/advantage-clock@1x.png");
  }
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .plan__item--clock {
    &::before {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }
}

.plan__text {
  font-family: $font;
  color: $color-darkgray;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding-top: 23px;

  br {
    display: none;
  }
}


@media (min-width: $tablet-width) {
  .plan__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    margin-top: 17px;
    margin-bottom: 50px;
  }

  .plan__list {
    min-height: 230px;
    margin-bottom: 87px;
    counter-reset: items;
  }

  .plan__item {
    max-width: 50%;
    min-height: 230px;
    position: relative;
    margin-bottom: 87px;
    display: block;
    flex: 0 0 50%;

    &::before {
      width: 80px;
      height: 80px;
      margin-bottom: 9px;
    }

    &::after {
      counter-increment: items;
      content: counter(items);
      position: absolute;
      left: 118px;
      top: -88px;
      font-size: 280px;
      color: $color-grey;
      z-index: -1;
    }

    &:nth-of-type(2n) {
      padding-left: 35px;

      &::after {
        padding-left: 30px;
      }
    }
  }

  .plan__text {
    font-size: 16px;
    line-height: 24px;
    max-width: 250px;

    br {
      display: block;
    }
  }
}

@media (min-width: $desktop-width) {
  .plan__item {
    max-width: 25%;
    margin-bottom: 30px;
  }
}
