.plan {
  margin-bottom: 43px;
}

.plan__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  margin-top: 0;
}

.plan__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.plan__item {
  display: flex;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  max-width: 100%;

  &::before {
    content: " ";
    display: block;
    margin-right: 20px;
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    background-color: $color-green;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.plan__item--leaf::before {
  background-image: url("../img/advantage-leaf@1x.png");
}

.plan__item--powder::before {
  background-image: url("../img/advantage-powder@1x.png");
}

.plan__item--dining::before {
  background-image: url("../img/advantage-dining@1x.png");
}

.plan__item--clock::before {
  background-image: url("../img/advantage-clock@1x.png");
}

.plan__text {
  font-family: $font;
  color: $color-darkgray;
  font-size: 14px;
  line-height: 18px;

    br {
      display: none;
    }
}


@media (min-width: $tablet-width) {
  .plan__title {
    font-size: 60px;
    line-height: 60px;
    font-weight: 400;
    margin-top: 31px;
  }

  .plan__list {
    min-height: 230px;
    margin-bottom: 87px;
    counter-reset: items;
  }

  .plan__item {
    max-width: 50%;
    min-height: 230px;
    position: relative;
    margin-bottom: 87px;
    display: block;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;

     &::before {
      width: 80px;
      height: 80px;
      margin-bottom: 35px;
     }

     &::after {
      counter-increment: items;
      content: counter(items);
      position: absolute;
      left: 140px;
      top: -107px;
      font-size: 280px;
      color: $color-grey;
      z-index: -1;
     }
  }

  .plan__text {
    font-size: 16px;
    line-height: 24px;
    max-width: 250px;

     br {
      display: block;
    }
  }
}

@media (min-width: $desktop-width) {
  .plan__list {
    margin-left: -40px;
    margin-right: -40px;
  }

  .plan__item {
    max-width: 25%;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 30px;
  }
}
