.plan {
  margin-bottom: 43px;
}

.plan__title {
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
}

.plan__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plan__item {
  margin-bottom: 20px;
}

.plan__item--leaf {
  background: url("../img/advantage-leaf@1x.png");
}

.plan__item--powder {
  background: url("../img/advantage-powder@1x.png");
}

.plan__item--dining {
  background: url("../img/advantage-dining@1x.png");
}

.plan__item--clock {
  background: url("../img/advantage-clock@1x.png");
}

.plan__text {
  font-family: "Arial", "Tahoma", sans-serif;
  color: #444444;
  font-size: 14px;
  line-height: 18px;
}
