.programs {
  margin-left: -20px;
  margin-right: -20px;
}
.programs__list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.programs__items {
  background: #f2f2f2;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}
.programs__title {
  color: #000000;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  padding-left: 70px;
}
.programs__discription {
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 18px;
}
.programs__img {
  width: 50px;
  height: 50px;
  background: #68b738;
  border-radius: 50%;
}
.programs__link {
  color: #6b6b6b;
  font-size: 16px;
  line-height: 16px;
}
