.programs__container {
  display: flex;
  flex-wrap: wrap;
}

.programs__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.programs__items {
  background: $color-grey;
  flex: 0 0 100%;
  position: relative;
  padding: 0 20px 20px 20px;
  margin-bottom: 20px;
}

.programs__title {
  color: $color-black;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 26px;
  padding: 31px 0 0 70px;
}

.programs__discription {
  font-family: $font;
  font-size: 14px;
  line-height: 18px;
  border-bottom: 1px solid $color-grey-hr;
  padding-bottom: 24px;
  margin-bottom: 13px;

  br {
    display: none;
  }
}

.programs__img {
  position: absolute;
  width: 50px;
  height: 50px;
  background: $color-green;
  border-radius: 50%;
  top: 23px;
  left: 23px;
}

.programs__icon {
  position: absolute;
  left: 50%;
  top: 47%;
  transform: translate(-50%, -50%);
}

.programs__link {
  color: $color-black;
  font-size: 16px;
  line-height: 16px;
  position: relative;
  text-transform: uppercase;
  z-index: 1;

  span {
    background-color: $color-grey;
    padding-right: 12px;
    position: relative;
  }

  &::after {
    content: "";
    position: absolute;
    left: 86px;
    top: 7px;
    width: 37px;
    height: 12px;
    background: url("../img/icon-right-arrow-verylong.svg") no-repeat;
    z-index: -1;
  }

  &:hover {
    &::after {
      transform: translate(20px);
    }
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .programs__list {
    width: 100%;
  }

  .programs__items {
    padding: 77px 315px 58px 52px;
    margin-bottom: 30px;
    min-width: 708px;
  }

  .programs__title {
    font-size: 36px;
    line-height: 37px;
    padding: 0;
    margin-bottom: 25px;
  }

  .programs__discription {
    padding-bottom: 27px;
    margin-bottom: 27px;
    font-size: 16px;
    line-height: 24px;
    border: none;
    width: 375px;

    br {
      display: block;
    }
  }

  .programs__img {
    left: 449px;
    top: 90px;
    width: 200px;
    height: 200px;
  }

  .programs__icon {
    top: 42%;
    width: 69%;
    height: 100%;
  }

  .programs__icon--tiger {
    width: 133%;
    height: 100%;
    top: 50%;
    left: 49%;
  }

  .programs__link {
    color: $color-black;
    font-size: 20px;
    line-height: 20px;

    &::after {
      left: 125px;
      top: 9px;
      background: url("../img/icon-right-arrow-long.svg") no-repeat;
    }
  }
}

@media (min-width: $desktop-width) {
  .programs__list {
    display: flex;
  }

  .programs__items {
    max-width: 50%;
    padding: 80px 55px 58px;
    margin-right: 40px;
  }

  .programs__title {
    margin-bottom: 80px;
    text-align: center;
  }

  .programs__discription {
    width: 470px;

    br {
      display: none;
    }
  }

  .programs__img {
    left: 45px;
    width: 100px;
    height: 100px;
  }
}
