.promo {
  background: url("../img/index-background-mobile@1x.jpg") no-repeat;
  margin-top: 18px;
  margin-bottom: 22px;
  display: flex;
}

.promo__title {
  color: $color-white;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  font-weight: normal;
}

.promo__intro {
  color: $color-white;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .promo {
    background: url();
  }
  .promo__container {
    padding-left: 100px;
    padding-top: 55px;
    margin-bottom: 5px;
  }
  .promo__title {
    color: $color-black;
    font-size: 60px;
    line-height: 60px;
    font-weight: normal;
    text-align: left;
    max-width: 520px;
  }
  .promo__intro {
    color: $color-black;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }
  .button--promo {
    font-size: 20px;
    width: auto;
    padding: 16px 27px;
  }
}



