.promo {
  background-color: $color-green;
  background: url("../img/index-background-mobile@1x.jpg") no-repeat;
  margin-top: 0;
  margin-bottom: 22px;
  display: flex;
}

.promo__container {
  padding-top: 5px;
}

.promo__title {
  color: $color-white;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  font-weight: normal;
}

.promo__intro {
  color: $color-white;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .promo {
    background: none;
    min-height: 860px;
  }

  .promo__container {
    padding-left: 100px;
    padding-top: 55px;
    margin-bottom: 5px;
    position: relative;
  }

  .promo__title {
    color: $color-black;
    font-size: 60px;
    line-height: 60px;
    font-weight: normal;
    text-align: left;
    max-width: 520px;
  }

  .promo__intro {
    color: $color-black;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
  }

  .promo__img {
    position: absolute;
    top: 340px;
    margin: 0 auto;
    z-index: -1;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    margin-bottom: 80px;
    min-height: 530px;
  }

   .promo__img {
    top: -25px;
    left: 50%;
   }
}
