.promo {
  display: flex;
  position: relative;
  margin-bottom: 23px;

  &::after {
    content: "";
    position: absolute;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-color: $color-green;
    background-repeat: no-repeat;
    display: block;
    width: 100%;
    height: 306px;
    left: 0;
    top: 0;
    background-position: bottom;
    z-index: -1;
  }
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .promo {
    &::after {
      background-image: url("../img/index-background-mobile@2x.jpg");
    }
  }
}

.promo__container {
  padding-top: 5px;
}

.promo__title {
  color: $color-white;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  font-weight: normal;
  margin-bottom: 25px;
}

.promo__intro {
  color: $color-white;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
}

.promo__img {
  margin-top: 12px;
}

@media (min-width: $tablet-width) {
  .promo {
    background: none;
    min-height: 860px;
    margin-bottom: 8px;

    &::after {
      display: none;
    }
  }

  .promo__container {
    padding-left: 119px;
    position: relative;
  }

  .promo__title {
    color: $color-black;
    font-size: 60px;
    line-height: 60px;
    font-weight: normal;
    text-align: left;
    max-width: 520px;
    margin: 51px 0 43px 0;
  }

  .promo__intro {
    color: $color-black;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    margin-bottom: 48px;
  }

  .promo__img {
    position: absolute;
    top: 258px;
    margin: 0 auto;
    z-index: -1;
    right: 30px;
  }
}

@media (min-width: $desktop-width) {
  .promo {
    margin-bottom: 80px;
    min-height: 530px;
  }

  .promo__img {
    top: -20px;
    left: 286px;
  }
}
