.site-list {
  list-style: none;
  margin: 0;
  padding: 0;

  a {
    display: block;
    padding: 25px 0;
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    border-top: 1px solid $color-lightgray;
    color: $color-black;
    text-align: center;
  }
}

.site-list__item {
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    justify-content: space-between;
    margin-right: -33px;

    a {
      margin: 0 auto;
      border-top: none;
      font-weight: 400;
      padding: 10px 18px;
      font-size: 18px;
      line-height: 25px;
    }
  }

  .site-list__item {
    font-size: 18px;
    line-height: 25px;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }

    &--active {
      position: relative;

      &::after {
        content: " ";
        position: absolute;
        display: block;
        left: 19px;
        right: 19px;
        top: 41px;
        height: 2px;
        background: $color-green;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .site-list {
    a {
      color: $color-black;
    }
  }

  .site-list__item {
    font-size: 20px;
    line-height: 25px;

    &::after {
      background: $color-green;
    }
  }
}
