@import "blocks/site-body.scss";
@import "variables.scss";
@import "blocks/page-header.scss";
@import "blocks/logo.scss";
@import "blocks/main-nav.scss";
@import "blocks/site-list.scss";
@import "blocks/container.scss";
@import "blocks/button.scss";
@import "blocks/promo.scss";
@import "blocks/visually-hidden.scss";
@import "blocks/programs.scss";
@import "blocks/plan.scss";
@import "blocks/example.scss";
@import "blocks/map.scss";
@import "blocks/page-footer.scss";
@import "blocks/main.scss";
@import "blocks/goods.scss";
@import "blocks/goods-more.scss";
@import "blocks/additional-goods.scss";
@import "blocks/main-form.scss";
