$font: "Arial", "Tahoma", sans-serif;
$color-green: #68b738;
$color-grey: #f2f2f2;
$tablet-width: 768px;
$desktop-width: 1200px;
$color-black: #111111;
$color-white: #ffffff;
$color-darkgray: #444444;
