$font: "Arial", "Tahoma", sans-serif;
$font-main: "Oswald", "Arial", sans-serif;
$color-green: #68b738;
$color-grey: #f2f2f2;
$tablet-width: 768px;
$desktop-width: 1300px;
$mobile-width-only: 767px;
$color-black: #111111;
$color-white: #ffffff;
$color-darkgray: #444444;
$color-bcackgray: #666666;
$color-lightgray: #e6e6e6;
$color-grey-hr: #d9d9d9;
$color-border-catalog: #cdcdcd;
$color-border-goods-more: #d3d3d3;
